# Author Attribution

**CS 4395 - Intro to NLP**

**Dr. Karen Mazidi**

**Prepare by Leo Nguyen - ldn190002**

### Instruction 1

Read in cvs file using panda.

In [13]:
import pandas as pd
df = pd.read_csv('federalist.csv')

Convert the author column to categorical data

In [18]:
df = df.astype({"author":'category'})
df.dtypes

author    category
text        object
dtype: object

Display first few fow

In [19]:
df.head()

     author                                               text
0  HAMILTON  FEDERALIST. No. 1 General Introduction For the...
1       JAY  FEDERALIST No. 2 Concerning Dangers from Forei...
2       JAY  FEDERALIST No. 3 The Same Subject Continued (C...
3       JAY  FEDERALIST No. 4 The Same Subject Continued (C...
4       JAY  FEDERALIST No. 5 The Same Subject Continued (C...

Display counts by author

In [20]:
df['author'].value_counts()

HAMILTON                49
MADISON                 15
HAMILTON OR MADISON     11
JAY                      5
HAMILTON AND MADISON     3
Name: author, dtype: int64

### Instruction 2

Divide into train and test (80/20)

In [ ]:
from sklearn.model_selection import train_test_split
X = df.text      # features
y = df.author    # targets